build/
.gradle/
.idea/
.vscode/
.settings/
out/
runs/
run*/
*.iml
*.log
*.tmp
gradle/
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
.settings/

# Not part of the mod
tools/
docs/*
!docs/images/
